Task 1

yob2021.txt file has 3 columns, separated with a comma, without any header

In [1]:
import pandas as pd

Task 2

In [2]:
df = pd.read_csv('names/yob2021.txt', index_col=None, sep=',', header=None)

Task 3

In [3]:
first10 = df.head(10)

print("The first 10 rows in the file are:")
print(first10)

The first 10 rows in the file are:
           0  1      2
0     Olivia  F  17824
1       Emma  F  15530
2  Charlotte  F  13352
3     Amelia  F  13024
4        Ava  F  12854
5     Sophia  F  12559
6   Isabella  F  11288
7        Mia  F  11157
8     Evelyn  F   9484
9     Harper  F   8433

Task 4

In [4]:
print("The rows and columns of the file are:")
print(df.shape)

The rows and columns of the file are:
(31729, 3)

Task 5

In [5]:
print("The sum of the third column (total number of babies born in 2021) is:")
print(df[2].sum())

The sum of the third column (total number of babies born in 2021) is:
3384687

Task 6

In [6]:
print("The sum of females born in 2021 is:")
print(df[df[1]=='F'][2].sum())

print("The sum of males born in 2021 is:")
print(df[df[1]=='M'][2].sum())

The sum of females born in 2021 is:
1638188
The sum of males born in 2021 is:
1746499

Task 7

In [7]:
print("The name Edvards is in the file:")
print("Edvards" in df[0].values)

The name Edvards is in the file:
False

Task 8

In [8]:
print("The percentage of females born in 2021 is:")
percentage_female=(df[df[1]=='F'][2].sum())/(df[2].sum())*100
print(round(percentage_female, 2))

print("The percentage of males born in 2021 is:")
percentage_male=(df[df[1]=='M'][2].sum())/(df[2].sum())*100
print(round(percentage_male, 2))

The percentage of females born in 2021 is:
48.4
The percentage of males born in 2021 is:
51.6

Task 9

In [9]:
top5boys=df[df[1]=='M'].sort_values(by=2, ascending=False).head(5)
top5girls=df[df[1]=='F'].sort_values(by=2, ascending=False).head(5)

table = pd.concat([top5boys, top5girls])

print("The top 5 boys names and top 5 girls names in 2021 are:")
print(table)

The top 5 boys names and top 5 girls names in 2021 are:
               0  1      2
17649       Liam  M  20391
17650       Noah  M  18884
17651     Oliver  M  14696
17652     Elijah  M  12807
17653      James  M  12452
0         Olivia  F  17824
1           Emma  F  15530
2      Charlotte  F  13352
3         Amelia  F  13024
4            Ava  F  12854

Task 10

In [10]:
table.to_excel('names/top5namesbothgenders2021.xlsx')